<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<header>
    <div class="nav-bar">
        <a class="active" href="#home">Home</a>
        <a href="#support">Support</a>
        <a href="/login">LOG IN</a>
    </div>
</header>

<div class="flex-container">
    <div class="column-one">
        <h3>Hello! <br>
            Looking for a book? <br>
            Selling your books? <br>
            You are in the right place.<br>
            Start with <a href="#signup">registration</a>
        </h3>

        <form class="form" name="signup-form" id="signup" action="#" th:action="@{/registration}" method="post" th:object="${user}">
            <h2>Registration form</h2>
            <div class="message">
                <p th:text="${message_failed}">
                    <span th:if="${message_failed == 'Sign up failed.'}">
                        <label th:if="${error}" th:text="${error}"></label>
                    </span>
                </p>
                <p th:text="${message_signup}">
                    <span th:if="${message_signup == 'Registration successful!'}">
                        Registration successful. Now you can login.
                    </span>
                </p>
            </div>

            <div>
                <input type="text" th:field="*{firstName}" placeholder="First Name">
                <span th:errors="*{firstName}"></span>
            </div>
            <div>
                <input type="text" th:field="*{lastName}" placeholder="Last Name">
                <span th:errors="*{lastName}"></span>
            </div>
            <div>
                <input type="date" th:field="*{dob}">
                <span th:errors="*{dob}"></span>
            </div>
            <div>
                <input type="email" th:field="*{email}" placeholder="Email">
                <span th:errors="*{email}"></span>
            </div>
            <div>
                <input type="password" th:field="*{password}" placeholder="Password">
                <span th:errors="*{password}"></span>
            </div>
            <div class="button">
                <button type="submit">Create user</button>
            </div>
        </form>

    </div>

    <div class="column-two">
        <img src="/images/photo-main.jpg" alt="books_main" width="300" weight="600">
    </div>
</div>

<div id="support">
    <p>Support</p>
    <p>Instruction how to use app</p>
</div>

</body>
</html>